.frame-container {
  min-height: 100vh;
}
.frame-frame {
  width: 100%;
  height: 949px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: flex-end;
  background-color: rgba(10, 8, 17, 1);
}
.frame-figures {
  top: -367px;
  left: -54px;
  width: 1274.223388671875px;
  height: 1518.2418212890625px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame-star1 {
  top: 595px;
  left: 1002.070068359375px;
  width: 812px;
  height: 539px;
  position: absolute;
}
.frame-arrow1 {
  top: 1030px;
  left: 74px;
  width: 307px;
  height: 0px;
  position: absolute;
}
.frame-rectangle1 {
  top: 769px;
  left: 355.23974609375px;
  width: 16px;
  height: 16px;
  position: absolute;
  border-color: rgba(82, 22, 209, 0.15000000596046448);
  border-style: solid;
  border-width: 1px;
}
.frame-polygon1 {
  top: 1239px;
  left: 270.0107421875px;
  width: 228px;
  height: 228px;
  position: absolute;
}
.frame-rectangle2 {
  top: 365px;
  left: 0;
  width: 1734px;
  height: 1256px;
  position: absolute;
  border-color: rgb(82 22 209 / 0%);
  border-style: solid;
  border-width: 1px;
}
.frame-polygon2 {
  top: 584.6774291992188px;
  left: 355px;
  width: 155px;
  height: 155px;
  position: absolute;
}
.frame-star2 {
  top: 0px;
  left: 235.070068359375px;
  width: 470px;
  height: 470px;
  position: absolute;
}
.frame-text {
  left: 100px;
  color: rgb(255 255 255);
  bottom: 70px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Kufam;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-buttonstartbutton {
  top: 680px;
  left: 100px;
  width: 192px;
  display: flex;
  padding: 16px 42px;
  position: absolute;
  align-items: center;
  border-color: transparent;
  border-radius: 4px;
  justify-content: center;
  background-image: linear-gradient(150deg, rgb(243 159 87) 0%, rgb(133 89 25) 100%);
}
.frame-text02 {
  color: rgba(238, 230, 255, 1);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: justified;
  font-family: Arial;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text04 {
  top: 490px;
  left: 100px;
  color: rgb(255 255 255);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: justified;
  font-family: Exo 2;
  font-weight: 400;
  line-height: 42px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text13 {
  top: 305px;
  left: 89px;
  height: 237px;
  position: absolute;
  font-size: 188px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Kufam;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text130 {
  top: 330px;
  left: 100px;
  height: auto;
  position: absolute;
  font-size: 148px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Kufam;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text14 {
  color: #d1a016;
  position: fixed;
}
.frame-text15 {
  color: #ffffff;
}
.frame-frame1 {
  top: 295px;
  left: 100px;
  width: 369px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
}
.frame-text16 {
  color: rgb(255 255 255);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 40px;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text18 {
  color: rgba(255, 255, 255, 0.3499999940395355);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-header {
  top: 46px;
  left: 100px;
  width: 518px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
}
.frame-text20 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Inter;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 88px;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-nav {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  left: -28px;
}
.frame-text22 {
  color: rgba(255, 255, 255, 0.44999998807907104);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 24px;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text24 {
  color: rgba(255, 255, 255, 0.44999998807907104);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 24px;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text26 {
  color: rgba(255, 255, 255, 0.44999998807907104);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 24px;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text28 {
  color: rgba(255, 255, 255, 0.44999998807907104);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-image {
  width: 1472px;
  height: 1000px;
  object-fit: fill;
  margin-right: -390px;
  margin-top: -16px;
}
@media(max-width: 1200px) {
  .frame-figures {
    top: -367px;
    left: -54px;
  }
}
